.title_search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title_show{
    display: flex;
    align-items: center;
}
.main-panel > .content {
    margin-top: 38px;
    padding: 30px 0px;
    min-height: calc(100vh - 123px);
}
.show_body table tr:first-child td {
    border-top: 1px solid #ddd!important;
}

.show_body, .index_body,.create_body,.edit_body{
    padding: 20px;
}
.list_type_none{
    list-style-type: none;
}
.new_added{
    background: #7ce93791;
}
.image_part{
    width: 25%;
    height: 200px;
}
.image_part img{
    object-fit: cover;
    height: 100%;
}
.setting_part{
    margin-bottom: 50px;
}
.setting_part .card-title{
    border-bottom: 1px solid green;
}
.floara .fr-wrapper{
    min-height: 300px;
}
.floara .fr-wrapper div:nth-child(1){
    display: none;
}
.floara .fr-placeholder{
    margin-top: 0!important;
}
.title_italic{
    font-style: italic;
    font-size: 25px;
}
.active_page{
    color: #2196f3!important;
}
.btn-group.bootstrap-select.show-tick{
    display: block;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{
    color: white;
    text-align: center;
}
.show_body img{
    width: 30%;
}
.old_password{
    display: none;
}
.old_password_wrong{
    display: block;
}